/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.container h2{
    padding-bottom: 15px;
}
.container p{
    line-height: 25px;
    color: #666;    
}


/* Header Styles
header {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
} */

header h1 {
    margin: 0;
    font-size: 2rem;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.main-nav a:hover {
    color: #ecf0f1; 
}

/* Section Styles */
.section {
    padding: 80px 0;
}

.section h2 {
    margin-bottom: 20px;
}

/* mission style*/
.mission-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.mission-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.mission-description {
    text-align: left;
}
.propos-description{
    text-align: left;
}

.mission-description p {
    font-size: 1.1rem;
    color: #666;
}

/* Footer Styles */
footer {
    background-color: #fff;
    color: #34495e;
    text-align: center;
    padding: 20px 0;
}
